// ~ fonts
fontSans      = "Helvetica Neue", Helvetica, Arial, sans-serif
fontMonospace = Consolas, "Liberation Mono", Menlo, Courier, monospace

// ~ colors
alpha   = #666
beta    = #222
gama    = #aaa
delta   = #072ff5
epsilon = #ededed
